@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");

@font-face {
  font-family: "AktivGrotesk-Regular";
  src: url("../Resources/AktivGroteskCorp-Regular.ttf");
}
@font-face {
  font-family: "AktivGrotesk-Bold";
  src: url("../Resources/AktivGroteskCorp-Bold.ttf");
}

body {
  margin: 0;
  padding: 0;
  // font-family: "Cormorant SC", serif;
  font-family: "Poppins", sans-serif;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
p {
  font-family: "Poppins", sans-serif;
}

.section1 {
  padding: 5em 0;
  .wrapper {
    max-width: 1300px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: auto;
    .content {
      max-width: 70ch;
      padding-right: 3.5em;

      .heroHeading {
        font-size: 3.75em;
        margin-top: 0.35em;
      }
      .parah {
        max-width: 70ch;
      }
    }
    .imgWrapper {
      max-width: 900px;
      > img {
        width: 100%;
      }
    }
  }
  @media all and (max-width: 1000px) {
    padding: 5em 1em;
    .wrapper {
      flex-direction: column;
      justify-content: center;
      .content {
        padding: 0;
      }
      .imgWrapper {
        max-width: 70ch;
        padding: 1em 0;
      }
    }
  }
}

.section2 {
  background-color: #fafafa;
  padding: 5em 0;
  .wrapper {
    max-width: 1300px;
    margin: auto;
    .contentGroup {
      display: flex;
      gap: 3em;
      align-items: center;
      > h2 {
        max-width: 15ch;
      }
      > p {
        max-width: 60ch;
      }
    }
  }

  @media all and (max-width: 1000px) {
    padding: 5em 1em;
    .wrapper {
      text-align: center;
      .contentGroup {
        flex-direction: column;
      }
    }
  }
}

.section3 {
  max-width: 1600px;
  margin-left: auto;
  padding: 5em 0;
  .wrapper {
    max-width: 1300px;
    height: 100%;
    text-align: center;
    .cardsGroup {
      display: flex;
      justify-content: space-between;
      @media all and (max-width: 1000px) {
        flex-direction: column;
        align-items: center;
        text-align: center !important;
      }
    }
  }
}

.section4 {
  max-width: 1600px;
  margin-left: auto;
  padding: 5em 0;
  .wrapper {
    max-width: 1300px;
    height: 100%;
    text-align: center;
    .menuWrapper {
      display: grid;
      grid-template-columns: 1.5fr 1fr;
      gap: 2em;
      > img {
        width: 100%;
      }
    }
  }
  @media all and (max-width: 1000px) {
    .wrapper {
      .menuWrapper {
        grid-template-columns: 1fr;
        max-width: 600px;
        margin: auto;
        padding: 1em;
      }
    }
  }
}

.section5 {
  background-color: #fafafa;
  padding: 5em 0;
  .wrapper {
    max-width: 1600px;
    margin-left: auto;
    .innerWrapper {
      max-width: 1300px;
      text-align: center;
    }
  }
}

.section6 {
  padding: 5em 0;
  text-align: center;
  display: flex;
  justify-content: center;
  .wrapper {
    display: inline-block;
    .feedbackBLock {
      position: relative;
      > img {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
      }
      .feedback {
        position: relative;
        z-index: 2;
        padding: 0.5em 1em;
        max-width: 65ch;
        font-size: 1.25em;
        text-align: start;
        .quote {
          display: inline-block;
          color: #808080;
          margin-top: 1em;
          > span {
            font-weight: 600;
            color: #ff3147;
          }
        }
      }
    }
  }
}

.imgSlider {
  overflow-x: hidden;
  #imgWrapper {
    display: flex;
    gap: 20px;
    transition: all 0.35s;
    > div {
      position: relative;
      > img {
        height: 520px;
        width: 370px;
        object-fit: cover;
        object-position: center;
        display: inline-block;
      }
      > div {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: none;
        justify-content: center;
        align-items: center;
        background-color: #ff3147;
      }
      &:hover {
        > div {
          display: flex;
        }
      }
    }
  }
  #sliderBtnGroup {
    padding: 1.5em 0;
    .sliderBtn {
      margin: 0 0.5em;
      display: inline-block;
      height: 8px;
      width: 8px;
      border-radius: 10px;
      background-color: #000000;
      cursor: pointer;
    }
    .active {
      background-color: #ff3147;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        height: 20px;
        width: 20px;
        border-radius: 20px;
        border: 1px solid #ff3147;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}

.imgCover {
  flex-direction: column;
  text-align: center;
  .heading {
    font-size: 1.5em;
    color: white;
  }
  > p {
    color: white;
  }
  .btn {
    background-color: white;
    padding: 0.5em 1.5em;
    color: #ff3147;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    > img {
      margin-left: 10px;
    }
  }
}

#popup {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(#000, 0.5);
  z-index: 3;
  justify-content: center;
  align-items: center;
  .popupCard {
    background-color: white;
    padding: 2em;
    .heading {
      font-size: 1.25em;
      margin-top: 0;
      // font-family: "AktivGrotesk-Bold";
    }
    > form {
      display: flex;
      flex-direction: column;
      gap: 1em;
      input {
        border: none;
        border-bottom: 1px solid #6f718f99;
        outline: none;
        font-size: 0.875em;
        padding-bottom: 0.5em;
        font-family: "AktivGrotesk-Regular" !important;
        width: 100%;
        &::placeholder {
          color: #6f718f99;
          font-family: "AktivGrotesk-Regular" !important;
        }
      }
      > span {
        display: flex;
        gap: 1.5em;
      }
      .agreement {
        cursor: pointer;
        .checkBox {
          display: flex;
          flex-direction: row-reverse;
          gap: 0.5em;
          max-width: 45ch;
          font-size: 14px;
          font-family: "AktivGrotesk-Regular" !important;
          line-height: 1.5em;
          color: #616678;
          margin: 0;
          position: relative;
          > input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
          }
          input:checked ~ .checkmark {
            background-color: #ff3147;
          }
          .checkmark {
            display: flex;
            height: 15px;
            width: 25px;
            border: 2px solid #ff3147;
            border-radius: 5px;
            color: white;
            justify-content: center;
            align-items: center;
          }
        }
      }
      > .submitBtn {
        background-color: #ff3147;
        color: white;
        border: none;
        outline: none;
        padding: 1em;
        border-radius: 5px;
        font-size: 18px;
        margin: 1em;
        margin-bottom: 0;
        cursor: pointer;
        margin-top: 0;
      }
    }
  }
  #closeBtn {
    position: absolute;
    right: 50px;
    top: 50px;
    font-size: 4em;
    background-color: transparent;
    color: #d1d1d199;
    cursor: pointer;
    border: none;
    outline: none;
  }
}

footer {
  background-color: #ff3147;
  padding: 5em 1em;
  .wrapper {
    max-width: 1600px;
    margin-left: auto;
    .innerWrapper {
      max-width: 1300px;
      text-align: center;
      > img {
        width: 100%;
      }
    }
  }
}

.boxGroup {
  padding: 1em 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5em;
  .box {
    background-color: white;
    padding: 2em;
    transition: all 0.35s;
    &:hover {
      box-shadow: 3px 6px 20px #672c2c1f;
    }
    .count {
      font-size: 3.75em;
      font-family: "Poppins", sans-serif;
      font-weight: 300;
    }
  }
  @media all and (max-width: 1000px) {
    padding: 1em;
    grid-template-columns: 1fr;
    max-width: 600px;
    margin: auto;
  }
}

#menu {
  text-align: start;
  display: grid;
  .menuOption {
    padding: 1em;
    background-color: #f6f6f6;
    cursor: pointer;
    transition: all 0.35s;
    .optionTitle {
      font-size: 1.25em;
      font-weight: 500;
    }
  }
}

.menuActive {
  background-color: #ff3147 !important;
  color: white;
}

.card {
  text-align: start;
  min-width: fit-content;
  @media all and (max-width: 1000px) {
    text-align: center;
  }
  .cardImg {
    max-width: 70px;
  }
  .cardTitle {
    font-size: 1.25em;
    font-weight: 600;
  }
  .cardParah {
    max-width: 25ch;
  }
}

.lightHighlight {
  font-size: 1.5em;
  font-weight: 500;
  color: #ff3147;
}
.heading {
  font-size: 2.8125em;
  font-weight: 700;
}

#contactBtn {
  background-color: #ff3147;
  color: white;
  border-radius: 2px;
  border: none;
  outline: none;
  margin-top: 3em;
  padding: 1em 2em;
  cursor: pointer;
}
