@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

p {
  font-family: "Poppins", sans-serif;
}

.section1 {
  padding: 5em 0;
}

.section1 .wrapper {
  max-width: 1300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: auto;
}

.section1 .wrapper .content {
  max-width: 70ch;
  padding-right: 3.5em;
}

.section1 .wrapper .content .heroHeading {
  font-size: 3.75em;
  margin-top: 0.35em;
}

.section1 .wrapper .content .parah {
  max-width: 70ch;
}

.section1 .wrapper .imgWrapper {
  max-width: 900px;
}

.section1 .wrapper .imgWrapper > img {
  width: 100%;
}

@media all and (max-width: 1000px) {
  .section1 {
    padding: 5em 1em;
  }
  .section1 .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section1 .wrapper .content {
    padding: 0;
  }
  .section1 .wrapper .imgWrapper {
    max-width: 70ch;
    padding: 1em 0;
  }
}

.section2 {
  background-color: #fafafa;
  padding: 5em 0;
}

.section2 .wrapper {
  max-width: 1300px;
  margin: auto;
}

.section2 .wrapper .contentGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section2 .wrapper .contentGroup > h2 {
  max-width: 15ch;
}

.section2 .wrapper .contentGroup > p {
  max-width: 60ch;
}

@media all and (max-width: 1000px) {
  .section2 {
    padding: 5em 1em;
  }
  .section2 .wrapper {
    text-align: center;
  }
  .section2 .wrapper .contentGroup {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.section3 {
  max-width: 1600px;
  margin-left: auto;
  padding: 5em 0;
}

.section3 .wrapper {
  max-width: 1300px;
  height: 100%;
  text-align: center;
}

.section3 .wrapper .cardsGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media all and (max-width: 1000px) {
  .section3 .wrapper .cardsGroup {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center !important;
  }
}

.section4 {
  max-width: 1600px;
  margin-left: auto;
  padding: 5em 0;
}

.section4 .wrapper {
  max-width: 1300px;
  height: 100%;
  text-align: center;
}

.section4 .wrapper .menuWrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.5fr 1fr;
      grid-template-columns: 1.5fr 1fr;
  gap: 2em;
}

.section4 .wrapper .menuWrapper > img {
  width: 100%;
}

@media all and (max-width: 1000px) {
  .section4 .wrapper .menuWrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    max-width: 600px;
    margin: auto;
    padding: 1em;
  }
}

.section5 {
  background-color: #fafafa;
  padding: 5em 0;
}

.section5 .wrapper {
  max-width: 1600px;
  margin-left: auto;
}

.section5 .wrapper .innerWrapper {
  max-width: 1300px;
  text-align: center;
}

.section6 {
  padding: 5em 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section6 .wrapper {
  display: inline-block;
}

.section6 .wrapper .feedbackBLock {
  position: relative;
}

.section6 .wrapper .feedbackBLock > img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.section6 .wrapper .feedbackBLock .feedback {
  position: relative;
  z-index: 2;
  padding: 0.5em 1em;
  max-width: 65ch;
  font-size: 1.25em;
  text-align: start;
}

.section6 .wrapper .feedbackBLock .feedback .quote {
  display: inline-block;
  color: #808080;
  margin-top: 1em;
}

.section6 .wrapper .feedbackBLock .feedback .quote > span {
  font-weight: 600;
  color: #ff3147;
}

.imgSlider {
  overflow-x: hidden;
}

.imgSlider #imgWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.imgSlider #imgWrapper > div {
  position: relative;
}

.imgSlider #imgWrapper > div > img {
  height: 520px;
  width: 370px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  display: inline-block;
}

.imgSlider #imgWrapper > div > div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ff3147;
}

.imgSlider #imgWrapper > div:hover > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.imgSlider #sliderBtnGroup {
  padding: 1.5em 0;
}

.imgSlider #sliderBtnGroup .sliderBtn {
  margin: 0 0.5em;
  display: inline-block;
  height: 8px;
  width: 8px;
  border-radius: 10px;
  background-color: #000000;
  cursor: pointer;
}

.imgSlider #sliderBtnGroup .active {
  background-color: #ff3147;
  position: relative;
}

.imgSlider #sliderBtnGroup .active::after {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  border: 1px solid #ff3147;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.imgCover {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.imgCover .heading {
  font-size: 1.5em;
  color: white;
}

.imgCover > p {
  color: white;
}

.imgCover .btn {
  background-color: white;
  padding: 0.5em 1.5em;
  color: #ff3147;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

#popup {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#popup .popupCard {
  background-color: white;
  padding: 2em;
}

#popup .popupCard .heading {
  font-size: 1.25em;
  margin-top: 0;
}

#popup .popupCard > form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
}

#popup .popupCard > form input {
  border: none;
  border-bottom: 1px solid #6f718f99;
  outline: none;
  font-size: 0.875em;
  padding-bottom: 0.5em;
}

#popup .popupCard > form input::-webkit-input-placeholder {
  color: #6f718f99;
}

#popup .popupCard > form input:-ms-input-placeholder {
  color: #6f718f99;
}

#popup .popupCard > form input::-ms-input-placeholder {
  color: #6f718f99;
}

#popup .popupCard > form input::placeholder {
  color: #6f718f99;
}

#popup .popupCard > form > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5em;
}

#popup .popupCard > form .agreement {
  cursor: pointer;
}

#popup .popupCard > form .agreement .checkBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  gap: 0.5em;
  max-width: 45ch;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: #616678;
  margin: 0;
  position: relative;
}

#popup .popupCard > form .agreement .checkBox > input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

#popup .popupCard > form .agreement .checkBox input:checked ~ .checkmark {
  background-color: #ff3147;
}

#popup .popupCard > form .agreement .checkBox .checkmark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 15px;
  width: 25px;
  border: 2px solid #ff3147;
  border-radius: 5px;
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#popup .popupCard > form > .submitBtn {
  background-color: #ff3147;
  color: white;
  border: none;
  outline: none;
  padding: 1em;
  border-radius: 5px;
  font-size: 18px;
  margin: 1em;
  margin-bottom: 0;
  cursor: pointer;
}

#popup #closeBtn {
  position: absolute;
  right: 50px;
  top: 50px;
  font-size: 4em;
  background-color: transparent;
  color: #d1d1d199;
  cursor: pointer;
  border: none;
  outline: none;
}

footer {
  background-color: #ff3147;
  padding: 5em 1em;
}

footer .wrapper {
  max-width: 1600px;
  margin-left: auto;
}

footer .wrapper .innerWrapper {
  max-width: 1300px;
  text-align: center;
}

footer .wrapper .innerWrapper > img {
  width: 100%;
}

.boxGroup {
  padding: 1em 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 1.5em;
}

.boxGroup .box {
  background-color: white;
  padding: 2em;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.boxGroup .box:hover {
  -webkit-box-shadow: 3px 6px 20px #672c2c1f;
          box-shadow: 3px 6px 20px #672c2c1f;
}

.boxGroup .box .count {
  font-size: 3.75em;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

@media all and (max-width: 1000px) {
  .boxGroup {
    padding: 1em;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    max-width: 600px;
    margin: auto;
  }
}

#menu {
  text-align: start;
  display: -ms-grid;
  display: grid;
}

#menu .menuOption {
  padding: 1em;
  background-color: #f6f6f6;
  cursor: pointer;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

#menu .menuOption .optionTitle {
  font-size: 1.25em;
  font-weight: 500;
}

.menuActive {
  background-color: #ff3147 !important;
  color: white;
}

.card {
  text-align: start;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}

@media all and (max-width: 1000px) {
  .card {
    text-align: center;
  }
}

.card .cardImg {
  max-width: 70px;
}

.card .cardTitle {
  font-size: 1.25em;
  font-weight: 600;
}

.card .cardParah {
  max-width: 25ch;
}

.lightHighlight {
  font-size: 1.5em;
  font-weight: 500;
  color: #ff3147;
}

.heading {
  font-size: 2.8125em;
  font-weight: 700;
}

#contactBtn {
  background-color: #ff3147;
  color: white;
  border-radius: 2px;
  border: none;
  outline: none;
  margin-top: 3em;
  padding: 1em 2em;
  cursor: pointer;
}
/*# sourceMappingURL=mainStyle.css.map */